@mixin manus {
  padding: 8px 15px;
  font-weight: 500;
  font-size: 18px;
}
@mixin manus_hover {
  font-size: 20px;
}

@mixin sign-btn {
  padding: 13px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  background: none;
  background-color: #c4f7fc;
  transition: all 0.4s ease;
}

@mixin sign-btn-hover {
  background-color: #a1d8fd;
}

.navbar {
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: 25% 55% 20%;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: white;

  .nav_brand {
    display: flex;
    justify-content: center;
    cursor: pointer;

    .nav_brand_txt {
      font-size: 20px;
      font-weight: 900;
      margin-left: 3%;
      letter-spacing: 2px;
    }
  }

  .nav_menu {
    margin-left: auto;

    a {
      @include manus();
      transition: all 0.2s ease;
    }

    a:hover {
      @include manus_hover();
      border-bottom: 2px solid black;
    }
  }

  .nav_signup {
    text-align: center;

    .signup_btn {
      @include sign-btn();
    }

    .signup_btn:hover {
      @include sign-btn-hover();
    }
  }

  .toggle_btn {
    position: absolute;
    top: 40px;
    right: 50px;
    cursor: pointer;
    display: none;
  }

  .res_nav {
    width: 300px;
    position: absolute;
    top: 98px;
    right: 30px;
    background-color: #303a52;
    padding: 20px;
    display: none;
    -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

    a {
      @include manus();
      display: block;
      color: white;
      transition: all 0.3s ease;
    }

    a:hover {
      @include manus_hover();
    }

    .signup_btn {
      display: none;
    }
  }
  @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
    100% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
    100% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    display: grid;
    grid-template-columns: 35% 50% 15%;

    .nav_menu {
      display: none;
    }

    .nav_signup {
      margin-left: auto;
    }

    .toggle_btn {
      display: block;
    }

    .res_nav {
      display: block;
    }
  }
}

@media screen and (max-width: 576px) {
  .navbar {
    display: grid;
    grid-template-columns: 50% 30% 15%;

    .nav_signup {
      display: none;
    }

    .res_nav {
      position: absolute;
      right: 0;
      text-align: center;
      width: 100%;

      .signup_btn {
        display: block;
        @include sign-btn();
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
      }

      .signup_btn:hover {
        @include sign-btn-hover();
      }
    }
  }
}
